<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template-menu}">
<head>
<meta charset="UTF-8">
<title>Patient - Mediscreen</title>
</head>
<body>
<div layout:fragment="content">
	<div class="section">
		<div class="container" th:object="${patient}">
			<div class="row green" th:text="${#httpServletRequest.getParameter('success')}"></div>
			<div class="row red" th:text="${#httpServletRequest.getParameter('error')}"></div>
			<div class="row"><a class="btn btn-link" href="/patient/all">Back to the patients</a></div>
			<div class="row">
				<h2 th:text="${patient.given} + ' ' + ${patient.family}">Patient</h2>
			</div>
			<div class="row">
				<div>
					<a th:href="@{/patient/update/{id}(id=${patient.id})}" 
						class="btn btn-primary btn-sm">Update the patient</a>
				</div>
				<table class="table table-no-bordered">
					<tbody>
						<tr>
							<td>Lastname</td>
							<td th:text="${patient.family}"></td>
						</tr>
						<tr>
							<td>Firstname</td>
							<td th:text="${patient.given}"></td>
						</tr>
						<tr>
							<td>Birthdate</td>
							<td th:text="${patient.dob}"></td>
						</tr>
						<tr>
							<td>Sex</td>
							<td th:text="${patient.sex}"></td>
						</tr>
						<tr>
							<td>Address</td>
							<td th:text="${patient.address}"></td>
						</tr>
						<tr>
							<td>Phone</td>
							<td th:text="${patient.phone}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="container">
			<div class="row">
				<a href="javascript:void(0);" th:data-assesstype="id" th:data-patid="${patient.id}"
						class="btn btn-primary btn-sm assess">Assess patient</a>
				<a href="javascript:void(0);" th:data-assesstype="family" th:data-family="${patient.family}" 
						class="btn btn-primary btn-sm assess">Assess family</a>
			</div>
			<div class="row">
				<div id="assessmentById" th:if="${assessment != null && assessment.message != null}" 
						th:text="${assessment.message}"></div>
				<div id="assessmentByFamily" th:if="${assessments != null}" th:each="assessment : ${assessments}">
					<div th:text="${assessment.message}"></div>
				</div>
			</div>
		</div>
		
		<div class="container" th:object="${notes}">
			<div class="row">
				<a th:href="@{/note/add/{patId}(patId=${patient.id})}" 
						class="btn btn-primary btn-sm">Add new note</a>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>History</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="note : ${notes}">
							<td>
								<a th:text="${note.date}" 
									th:href="@{/note/{patId}/{id}(patId=${patient.id}, id=${note.id})}">Date</a>
							</td>
							<td width="15%">
								<a th:href="@{/note/delete/{patId}/{id}(patId=${patient.id}, id=${note.id})}">Delete</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</body>
</html>