<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template-empty}">
<head>
<meta charset="UTF-8">
<title>400 - Mediscreen</title>
</head>
<body>
<div layout:fragment="content">
	<div class="section">
		<div class="container">
			<div class="col-lg-12 spacer20 center">
				<div class="row">
				   <h3>Bad request</h3>
				</div>
			</div> 	 
		</div> 	 
	</div> 
</div> 	
</body>
</html>